#img{
    height:  50px;
}


#titla{
    font-size: 40px;
    font-weight: bolder;
    
}

#logFacebook{
    border : 1px solid transparent;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: #3A5898;
    color : rgb(236, 235, 235);
    margin: auto;
    font-weight: bolder;
    margin-bottom: 10px;
}
#logApple{
    border : 1px solid transparent;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    text-align: center;
    background-color: #181819;
    color : rgb(236, 235, 235);
    margin: auto;
    font-weight: bolder;
}


span{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

#loger{
    margin-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 15px;
}

#signup{
    height: 50px;
    width: 400px;
    background-color: white;
    /* border: 1px solid grey; */
    border-radius: 20px;
    color: gray;
    font-weight: bolder;
}

#check{
    display: flex;
    /* border: 1px solid red; */
}
#both{
    width: 430px;
    /* border : 1px solid red; */
    display: flex;
    margin: auto;
    margin-top: 10px;
    justify-content: space-between;
}

#both > button{
    /* border : 1px solid green; */
    background-color: #1ED760;
    color : black ;
    border-radius: 30px;
    height: 50px;
    width: 130px;
    font-weight: bolder;
    font-size: 15px;
}


#check > input{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    color : green;
    background-color: green;
}



#container{
    /* border : 1px solid green; */
    width: 450px;
    margin: auto;
}

#container{
    text-align: left;
}

#end{
    text-align: center;
}

hr{
    border : 1px solid rgb(231, 228, 228);
}
#mainerer{
    background-color: white;
    border: 1px solid transparent;
    height: 500%;
    border: 1px solid transparent;
}


#logINFailed{
    background-color: white;
    position: fixed;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
    top: 30%;
    left: 48%;
    margin-top: -50px;
    margin-left: -100px;
}

#ok{
    background-color: white;
    
    color : #2285D8;
    /* border : 1px solid red; */
    margin-bottom: 0px;
    margin-top: 0px;
}

#ok:hover{
    cursor: pointer;
}

#message{
    height: 100px;
    background-color: white;
}






















